<#
// Empty template for Devart Entity Developer C# code generation.
// Copyright (c) 2008-2024 Devart. All rights reserved.
#>
<#@ template language="C#" #>
<#
// Settings
  output.Extension = ".cs";
  output.FileName = model.FileName;

// Begin generation

 
// End of generation
#>